.productCard {
    background-color: var(--bg-second-color);
    width: 650px;
    height: 704px;
    width: 100%;
    border: 1px solid #ececec;
    transition: 200ms linear;
    box-shadow: 200ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
    border: 1px solid var(--accent-color);
    margin: 0 13px 28px 13px;
    flex-basis: calc(100% / 2 - 30px);


}

.productCard:nth-of-type(1) {
    margin-top: 10px;
}

.productCard:nth-of-type(2) {
    margin-top: 10px;
}

.productCard:nth-of-type(2n) {
    margin-right: 0;
}

/* .productCard:nth-of-type(2n + 1) {
    margin-left: 0;
} */

.productCard:last-child {
    margin-bottom: 70px;
}



.productCard:hover .photo-list__item__top {
    transform: translateY(0);
}

.productCard:hover,
.productCard:focus {
    box-shadow: 0px 1px 1px var(--accent-color), 0px 4px 4px var(--accent-color),
        1px 4px 6px var(--accent-color);
}

.product_img {
    width: 595px;
    height: 550px;
}

.under_product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.product_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
}

.product_text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-top: 4px;
}

.product_price {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
}

.orderBtn {

    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--third-text-color);

    width: 200px;
    height: 40px;
    left: 140px;
    top: 292px;
    align-self: center;
    /* border-radius: 4px; */
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid #040404;

}

.orderBtn:hover,
.orderBtn:focus {
    background-color: var(--btn-color);
    color: var(--white-color);
    border: none;
}