.navMenue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.link {
  text-align: center;
  width: 100%;
  padding: 28px 0;
  text-decoration: none;
  color: var(--black-color);
  border-bottom: 1px solid #E2E3E5;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.linkActive {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;

  line-height: 150%;
  padding: 28px 0;
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: underline 4px solid var(--accent-color);
}

@media screen and (min-width: 767px) {
  .link {
    font-size: 18px;

    margin-right: 60px;
    border-bottom: none;
  }

  .link:last-child {
    margin-right: 0;
  }


}

@media screen and (min-width: 1279px) {
  .link {
    margin-right: 80px;
    font-size: 20px;
  }

  .link:last-child {
    margin-right: 0;
  }



}